# Configuration file

"Control Setup" {
}


"biome ids" {
    S:"Ender Forest Biome ID"=47
    S:"Luminous Cliffs Biome ID"=49
    S:"Luminous Cliffs Edge Biome ID"=50
    S:"Rainbow Forest Biome ID"=48
}


"control setup" {
    B:"Adjacency Upgrades Require Energy"=false
    B:"Allow Danger in Rainbow Forests"=false
    B:"Allow Structure Bypass Passwords"=true
    B:"Allow duplication wand to copy TileEntities"=false
    B:"Always Respawn EnderDragon"=false
    B:"Auxiliary Fragment Acquisition"=false
    B:"Blend CC Biome Edges"=true
    I:"Cave Lighter Range"=128
    I:"Cave Lighter Zone Size"=8
    I:"Chest Generation Tier"=4
    B:"Crystal Plants May Drop Shards"=true
    D:"Crystal-Network-Integrated ThaumCraft Node Improvement Speed"=1.0
    B:"Delete End on Unload"=false
    I:"Dimension Structure Difficulty"=3
    I:"Duplication Wand Max Volume"=1000
    B:"Enable Ball Lightning"=true
    B:"Enable Biome Painter"=true
    B:"Enable Ender TNT"=true
    I:"Ender Forest Biome Weight"=10
    I:"Ender Pool Density from 1 to 3"=2
    B:"Generate Anti-Taint plants in Rainbow Forest"=true
    B:"Generate Pylons in Non-Overworld"=false
    B:"Generate Some Pylons as Broken"=false
    I:"Guardian Stone Range"=16
    B:"Guardian Stone is Full Chunk Height"=false
    B:"Liquid Ender Effect"=true
    I:"Lumen Relay Range"=16
    I:"Luminous Cliffs Biome Weight"=4
    B:"Make Pylon pathfinding attempt shortest path - can be intensive"=true
    B:"Make ThaumCraft integration require ThaumCraft progression"=false
    I:"Max Accelerator Lag in NanoSeconds"=1000000
    B:"Meteor Tower Projectiles Start Fires On Impact"=true
    B:"Nether Crystals"=true
    B:"Notify players of progress gains"=true
    I:"Orchestra MIDI Size Limit (KB)"=80
    B:"Panel-Form Lumen Lamps Have No Hitbox"=false
    B:"Pylons Chunkload Selves Once Used"=true
    I:"Rainbow Forest Animal Density"=6
    I:"Rainbow Forest Biome Weight"=10
    D:"Rainbow Leaf Gold Apple Drop Percentage"=0.25
    B:"Rainbow Trees Spread Rainbow Forests"=true
    B:Retrogeneration=false
    B:"Run Worldgen in Superflat Worlds"=false
    B:"Spawn Pylons in Overworld"=true
    B:"Spawn with CC Lexicon"=true
    I:"Vanilla Dye Drop Percentage"=100
    D:"Village Structure Frequency"=1.0
    B:"World Rifts Chunkload"=false
    B:"World Shift Can Move TileEntities"=false
    B:"[C2E6597A9] Connected Crystalline Stone Textures"=false
    B:"[D37CCE2D8] Disable Pendant Particles"=true
    B:"[DCBF77D9F] Dye Block Particles"=true
    B:"[E5AB07D9F] Ender Forest Coloring"=false
    I:"[EAE4CF25C] Energy Buffer Overlay Location"=0
    B:"[EB7D70DA5] Epilepsy Mode"=false
    B:"[L856C5A88] Lamp Noises"=true
    B:"[N81E284B0] Notify players via chat of their own progress gains"=false
    I:"[P9F3ABD05] Progression Notification Duration"=800
    B:"[PA82EF7CE] Play Dimension Join Sound For Others"=true
    B:"[R9011A4B3] Reload Handbook Data on Open"=false
    B:"[U5D5DEFFE] Use vanilla keybind system for ability selection GUI"=false
}


"dimension biome ids" {
    S:"Aura Ocean Biome ID"=106
    S:"Central Biome ID"=109
    S:"Crystal Forest Biome ID"=104
    S:"Crystal Mountains Biome ID"=105
    S:"Crystal Plains Biome ID"=102
    S:"Glowing Forest Biome ID"=103
    S:"Island Biome ID"=101
    S:"Monument Field Biome ID"=112
    S:"Radiant Fissures Biome ID"=111
    S:"Skyland Biome ID"=100
    S:"Sparkling Sands Biome ID"=110
    S:"Structure Biome ID"=107
    S:"Voidland Biome ID"=108
}


"enchantment ids" {
    S:"Aggro Mask ID"=92
    S:"Air Miner ID"=97
    S:"Armor Breach ID"=98
    S:"Capital Strike ID"=99
    S:"Consistent Efficiency ID"=102
    S:"Ender Lock ID"=91
    S:"Harvest Boost ID"=96
    S:"Identity Retention ID"=101
    S:"Inventory Insertion ID"=100
    S:"Rapid Descent ID"=95
    S:"Rare Loot ID"=94
    S:"Use Repair ID"=93
    S:"Weapon AOE ID"=90
}


"generate mod logs" {
    B:Alder=true
    B:Amaranth=true
    B:Ash=true
    B:Bamboo=true
    B:"Biomes O Plenty Mangrove"=true
    B:"Biomes O Plenty Willow"=true
    B:Bloodwood=true
    B:Canopy=true
    B:Cherry=true
    B:Dark=true
    B:Darkwood=true
    B:Eucalyptus=true
    B:"ExtraBiomes XL Redwood"=true
    B:Fir=true
    B:Force=true
    B:Fusewood=true
    B:Ghostwood=true
    B:Glow=true
    B:Greatwood=true
    B:Hawthorne=true
    B:Hellbark=true
    B:Highacacia=true
    B:Highcanopy=true
    B:Highfir=true
    B:Highmangrove=true
    B:Highpalm=true
    B:Highredwood=true
    B:Hopseed=true
    B:"IndustrialCraft Rubber"=true
    B:Ironwood=true
    B:Jacaranda=true
    B:Lighted=true
    B:Loftwood=true
    B:Magic=true
    B:Mahogany=true
    B:Mangrove=true
    B:Maple=true
    B:"MineFactory Reloaded Rubber"=true
    B:Minewood=true
    B:"Natura Darkwood"=true
    B:Palm=true
    B:Pine=true
    B:Poplar=true
    B:Redwood=true
    B:Rowan=true
    B:Sacred=true
    B:Sakura=true
    B:Sequoia=true
    B:Silverbell=true
    B:Silverwood=true
    B:Slime=true
    B:Sorting=true
    B:Tainted=true
    B:Tigerwood=true
    B:Timewood=true
    B:Transformation=true
    B:Twilightoak=true
    B:Willow=true
    B:Witchwood=true
}


"generate vanilla logs" {
    B:Acacia=true
    B:Birch=true
    B:Darkoak=true
    B:Jungle=true
    B:Oak=true
    B:Spruce=true
}


keybinds {
    S:"Superbuild Ability Activation"=LCTRL
}


"other ids" {
    S:"Chromastone Material ID"=90
    S:"Dimension ID"=60
}


"other options" {
    S:"Guardian Stone Exceptions" <
        none#RIGHT_CLICK_AIR
        none#RIGHT_CLICK_BLOCK
        none#LEFT_CLICK_BLOCK
        ExtraUtilities:dark_portal:2#RIGHT_CLICK_BLOCK
     >
    I:"Structure Dimension Blacklist" <
     >
}


"potion ids" {
    S:"Growth Hormone ID"=36
    S:"Lumarhea ID"=40
    S:"Lumen Regen ID"=42
    S:"Regen ID"=39
    S:"Saturation ID"=38
    S:"Void Gaze ID"=41
}


